img{
  width: 300px;
  padding-bottom: 10px;
}

span{
  font-weight: bold;
}

.interesting{
  font-style: italic;
}

ul{
  list-style: none;
  padding: 0px;
}

.card{
  border: 1px solid black;
  padding: 0px 0px 10px 10px;
  width: 310px;
  border-radius: 5px;
}

.card-details{
  border: 1px solid black;
  padding: 10px;
  width: 280px;
}
